figure {
    margin:0;
    border: 1px solid black;
    position: relative;
}

figcaption {
    background-color:  red;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left:0 ;
    right: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

:host {
    padding: 1em;
    display: block;
}